:root{
    --main-color:white;
    --second-color: #9F9D9D;
    --third-color:rgb(187, 142, 229);
    --some-color: black;
    --registration-padding: 70px;
}
.all-data-about-admin {
    /*position: relative;*/
    background-color: #EFEFEE;
}
.main-block-top {
    display: flex;
    min-height: 150px;
    max-height: 150px;
    background-image: url("../images/slimheader.png");
    background-size: cover;
    background-position: center;
    background-attachment: local;
}
.wrpper-for-all {
    /*width: 1440px;*/
    /*left: 0px;
    top: 618px;*/
    background: #EFEFEE;
    padding: 100px;
    padding-top: 0px;
}

table{
    margin: 0px auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 0.5px solid black;
}
thead{
    background-color: var(--second-color);
    height: 70px;
}

td, th {
    text-align: left;
    padding: 5px;
    width: 350px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;

}
th {
    font-size: 20px;
}
tr{
    height: 20px;
}

tbody tr:hover {
    background-color: rgb(202, 202, 202);
}
#wrapper-for-table{
    position: relative;
    max-width: 1800px;
    margin: 0px auto;
    padding: 23px;
}


#button-confirmation-yes, #button-confirmation-no{
    width: 150px;
    border: 1px solid var(--second-color);
    border-radius: 12px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: var(--main-color);
    font-weight: 600;
}
#button-confirmation-yes{
    background-color: rgba(146, 214, 44, 0.185);
    margin-right: 10px;
}
#button-confirmation-no{
    background-color: rgba(255, 0, 0, 0.199);
}
.all-data-about-admin{
    width: 600px;
    margin: 0px auto;
    padding: 30px;

}
.container-for-pib-or-mail{
    display: flex;
    margin: 10px;
}

.inscription-data{
    width: 150px;
    
}
.inscription-data, .data-about-admin{
    margin: 0px;
    font-size: 20px;
    font-weight: 600;
}

.inscription{
    font-size: 26px;
    font-weight: 600;
    margin: 20px 5px;
}
#div-for-button-yesno{
    display: flex;
}
#button-more{
    position: absolute;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    width: 180px;
    margin: 10px;
    color: var(--main-color);
    background-color: var(--third-color);
    right: 20px;
}

#user-icon{
    height: 60px;
    width: 60px;
}
#button-user{
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
}




#type-search{
    width: 402px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    /*color: #BBBBBB;*/
    margin-bottom: 25px;
    padding-inline-start: 20px;
}