* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  /* *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  } */
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a {
    color: black;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    line-height: 1;
  }
  
  [class*="-container"] {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0px 15px;
  }
  
  .wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .page {
    flex: 1 1 auto;
  }
  
  @media (max-width: 1199.98px) {
    [class*="-container"] {
      max-width: 970px;
    }
  }
  
  @media (max-width: 990.98px) {
    [class*="-container"] {
      max-width: 750px;
    }
  }
  
  @media (max-width: 767.98px) {
    [class*="-container"] {
      max-width: 320px;
      padding: 0px 15px;
    }
  }
  
  /* Header */
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    min-height: 150px;
    column-gap: 10px;
    row-gap: 15px;
    align-items: center;
    padding-top: 10px 0px;
    padding-bottom: 10ps 0px;
  }
  
  .header-logo {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #000;
  }
  
  .header-menu {
    align-content: center;
  }
  
  /* .header-signup {}
  
  .menu {} */
  
  .menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 94px;
    row-gap: 5px;
    align-items: center;
  }
  
  .menu-item {
    display: inline;
    align-items: center;
  }
  
  .menu-link {
    font-size: 22px;
    font-weight: normal;
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }
  
  .menu-button {
    height: 34x;
    background: #d9d9d9;
    border-radius: 12px;
    font-size: 22px;
    font-weight: normal;
    padding: 7px 14px;
  }
  
  .header-banner-text {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    text-align: right;
    mix-blend-mode: luminosity;
    position: absolute;
    width: 824px;
    height: 144px;
    left: 560px;
    top: 219px;
  }
  
  .type {
    position: absolute;
    width: 402px;
    height: 60px;
    left: 86px;
    top: 392px;
    background: #FFFFFF;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #BBBBBB;
    padding-left: 21px;
  }
  
  /* Main */
  /* .page-main {} */
  
  .main-block {
    display: flex;
    flex-direction: column;
  }
  
  .main-block-top {
    display: flex;
    min-height: 550px;
    background-image: url("../images/header.png");
    background-size: cover;
    background-position: center;
    background-attachment: local;
  }
  
  .top-main-block-image {
    width: 100%;
  }
  
  /* Categories */
  .main-block-categories-container .main-block-categories {
    display: flex;
    justify-content: space-around;
    height: 85px;
    width: 100%;
  }
  
  .main-block-categories {
    justify-content: space-between;
    align-items: center;
    column-gap: 3vw;
    font-family: 'Scada';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
  }
  
  /* Cards */
  .main-block-funds {
    position: relative;
    background-color: #EFEFEE;
    min-height: 484px;
  }
  
  .main-block-funds-container{
    position: absolute;
    display: flex;
    align-content: space-between;
    width: 100%;
    min-height: 484px;
    column-count: 4;
    row-gap: 23px;
    column-gap: 40px;
    margin: 61px;
    padding: 23px;
  }
  .all-funds-container {
    width: 100%;
    height: 996px;
    left: 0px;
    top: 618px;
    background: #EFEFEE;
  }
  
  .card {
    position: absolute;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 12px;
    width: 300px;
    height: 374px;
  }
  
  .card:hover {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-shadow: 4px 4px 20px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
  }
  
  .card:hover .card-name {
    color: #008B69;
  }
  
  
  .card-img {
    border-radius: 12px 12px 0px 0px;
    width: 298px;
    height: 142px;
    left: 21px;
    top: 1px;
  }
  
  .card-container {
    padding: 0 43px 0 43px;
  }
  
  .card-name {
    text-align: center;
    font-family: 'Scada';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
  }
  
  
  .card-description {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
  }
  
  .bar {
    position: absolute;
    width: 214px;
    height: 12px;
    left: 43px;
    top: 283px;
    background: #D9D9D9;
    border: 1px solid #252525;
    border-radius: 50px;
  }
  
  .help {
    position: absolute;
    width: 134px;
    height: 36px;
    left: 83px;
    top: 318px;
  }
  
  .help:hover {
    background: #AAAAAA;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
  }
  
  /* Slider */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  /* body{
    display: flex;
    padding: 0 35px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  } */
  /* .wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
  } */
  /* .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  } */
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 225px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width:225;
  }
  .carousel img:first-child{
    margin-left: 0px;
  }
  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  }
  
  /* Footer */
  .footer {
    /* position: relative; */
    height: 252px;
    background-color: #918D96;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #000;
  }
  
  .footer-container {
    height: 252px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-count: 3;
    /* column-gap: 200px; */
  }
  
  .footer-social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 46px;
    flex-direction: column;
  }
  
  .footer-images {
    display: flex;
    justify-content: space-between;
    width: 217px;
  }
  
  .image {
    height: 25px;
    width: 25px;
  }
  
  .footer-contacts {
    display: flex;
    align-items: center;
    row-gap: 54px;
    flex-direction: column;
  }
  
  .contactss-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
  }
  
  .footer-menu {
    display: flex;
    row-gap: 14px;
    flex-direction: column;
  }