:root{
    --main-color:white;
    --second-color: #9F9D9D;
    --third-color:rgb(187, 142, 229);
    --some-color: black;
}
body, html,header,main,footer{
    padding: 0;
    margin: 0;
}
ul{
    margin: 0px;
    padding: 0px;
    display: inline;
    list-style: none;
}
li{
    display: flex;
    margin: 10px;
}

.main-block-top {
    display: flex;
    min-height: 150px;
    max-height: 150px;
    background-image: url("../images/slimheader.png");
    background-size: cover;
    background-position: center;
    background-attachment: local;
}

#data-about-user, #edit-data-about-user{
    padding: 50px;

}
#ul-data-about-user{
    width: 500px;
}
.wrpper-for-all {
    /*left: 0px;
    top: 618px;*/
    background: #EFEFEE;
    padding: 100px;
    padding-top: 0px;
}
.all-data-in-main {
    padding: 20px;
    max-width: 1800px;
    background: #EFEFEE;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
    margin: 0px auto;
}

#edit-data-about-user{
    display: none;
}

.li-data-about-user{
    height: 30px;
    justify-content: center;
    align-items: center;
}

.ul-data{
}
.wrapper-data{
    min-width: 1200px;
    display: flex;
    position: relative;
    margin-right: 200px;
}
#edit-foto{
    background-color: transparent;
    min-width: 298px;
    min-height: 298px;
    max-width: 298px;
    max-height: 298px;
    border-radius: 150px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    border: 1px solid black;
}
.avatar{
    background-color: antiquewhite;
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 150px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0px 150px;
}
.avatar-foto{
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    position: absolute;
}
.feesontheuserspage{
    font-size: 20px;
    font-weight: 600;
}

.initialization, .init-from-database, .social-Networks-list, .edit-Database{
    width: 200px;
    height: 25px;
    font-size: 16px;
    font-weight: 400;
}
#edit-button, #end-edit-button{
    position: absolute;
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 0px;
    margin: 0px;
    top: 5px;
    right: 0px;

}

.edit-Database{
    border: 1px solid black;
    border-radius: 12px;
    padding: 0px;
    margin: 0px;
}

.init-from-database,.edit-Database{
    padding-inline-start: 5px;
}
.li-social-Networks-list{
    display: inline-block;
    float: left;
    margin: 0px 70px;
    margin-left: 0px;
}

.add-another-social-network{
    height: 25px;
    width: 25px;
    padding: 0px;
    border-radius: 12px;
}
.item-socials{
    height: 25px;
    width: 100px;
    padding: 0px;
    border-radius: 12px;
}

.one-Of-The-Social-Networks{
    height: 25px;
    width: 200px;
    padding: 0px;
    border-radius: 12px;
    padding-inline-start: 3px;
}

.item-add-socials{
    margin: 6px 0px;
}


#create-fundraising, #create-request{
    height: 50px;
    width: 500px;
    border-radius: 12px;
    margin: 0px 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--third-color);
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}

#active-fundraising, #done-fundraising,#fundraising-where-you-donate,#fundraising-what-you-liked, .inscription-description{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    padding-inline-start: 30px;

}
.inscription-description{
    padding-inline-start: 0px;
    margin-left: 0px;
}
.your-description{
    display: block;
    width: 1300px;
    min-width: 1000px;
    max-width: 1300px;
    margin: 0px auto;
    border-radius: 12px;
    min-height: 76px;
    padding: 10px;
}
.div-for-description{
    margin-left: 150px;
    width: 1300px;
    min-width: 1000px;
    max-width: 1300px;
}
#social-Networks-list{
    /*max-height: 136px;*/
}

.container-for-fundraising{
    padding: 0px 200px;
}

.container-for-cart-in-user{
    padding: 30px;
}
.main-block-funds{
    margin: 0px;
    padding: 0px 23px;
    height: 100%;
}
.main-block-funds-container{
    margin: 0px;
    padding: 0px 23px;
}
#div-for-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 150px;
}