<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter&family=Philosopher:wght@700&family=Raleway:wght@400;500;600&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400&family=Scada:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/adminpage.css">
    <title id="Main" role="main">volunteerpage</title>
</head>

<body class="wrapper">
    <!-- Header -->
    <header class="header-container background-blur">
        <img src="./images/hj-tjmsteo4 1.png" class="header-img">
        <p class="page-name">Volunteer.ua</p>
        <nav class="row">
            <!-- <p class="page-name">Volunteer.ua</p> -->
            <a href="/main/" class="top-page">Головна</a>
            <a href="/urgent/" class="top-page">Термінові збори</a>
            <a href="/fundraising/" class="top-page" style="margin-right: 118px;">Звіти</a>
            <button class="enter" role="button"><a href="/enter">Вхід</a></button>
            <button class="register" role="button"><a href="/registration">Реєстрація</a></button>
        </nav>

        <div>
            <h2 class="banner-text">Долучайся до підтримки Збройних Сил України</h2>
        </div>
        <!-- Search -->
        <input type="text" class="type" placeholder="Пошук.." style="padding-inline-start: 10px;">
    </header>
    <!-- Fundraising -->



    <main>

        <div class="wrpper-for-all">
            <div class="all-data-about-admin">
                <div class="container-for-pib-or-mail">
                    <p class="inscription-data">П.І.Б.:</p>
                    <p class="data-about-admin">1111111111111111111111</p>
                </div>
                <div class="container-for-pib-or-mail">
                    <p class="inscription-data">Пошта:</p>
                    <p class="data-about-admin">111111111111111111111</p>
                </div>
            </div>
            <p class="inscription">Користувачі, які чекають підтвердження:</p>
            <div id="wrapper-for-table">
                <table>
                    <thead>
                        <tr>
                            <th>П.І.Б.</th>
                            <th>Пошта</th>
                            <th>Посилання на соц.мережі</th>
                            <th>Фото</th>
                            <th>Підтвердження</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span>111111111111111111111</span></td>
                            <td><span>111</span></td>
                            <td><span>111</span></td>
                            <td><span>111</span></td>
                            <td>
                                <div id="div-for-button-yesno">
                                    <button id="button-confirmation-yes"><img src="./images/326572_check_icon.svg" width="20px" height="20px" alt=""></button>
                                    <button id="button-confirmation-no"><img src="./images/4781812_bin_delete_file_garbage_recycle_icon.svg" width="25px" height="25px" alt=""></button> 
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>111111111111111111111</span></td>
                            <td><span>111</span></td>
                            <td><span>111</span></td>
                            <td><span>111</span></td>
                            <td>
                                <div id="div-for-button-yesno">
                                    <button id="button-confirmation-yes"><img src="./images/326572_check_icon.svg" width="20px" height="20px" alt=""></button>
                                    <button id="button-confirmation-no"><img src="./images/4781812_bin_delete_file_garbage_recycle_icon.svg" width="25px" height="25px" alt=""></button> 
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button id="button-more">Більше></button>
            </div>
        </div>
    </main>






    <footer class=" container row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top"
        style="font-family: Raleway;font-weight: 500; font-size: 20px;">

        <div style="margin: 72px 200px 71px 60px;">
            <h5 style="font-family: Raleway;font-weight: 500; font-size: 20px">Соціальні мережі: </h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><img src="./images/facebook-3-2.svg" width="25px" height="25px"
                        style="margin-right: 56px;"></li>
                <li class="nav-item mb-2"><img src="./images/instagram-2016-5.svg" width="25px" height="25px"
                        style="margin-right: 56px;"></li>
                <li class="nav-item mb-2"><img src="./images/telegram-1.svg" width="25px" height="25px"></li>
            </ul>
        </div>

        <div style="margin: 72px 228 80px 20;">
            <ul>
                <li class="contacts-container" style="margin-right: 228px;">
                    <span class="phone-word">Телефон:</span>
                    <a href="tel: +380888888888" class="contacts-number"
                        style="font-family: Roboto; font-weight: 500;">+380888888888</a>
                </li>
                <li class="contacts-container">
                    <span>Email:</span>
                    <a href="mailto:volunteerua@gmail.com" class="mails">volunteerua@gmail.com</a>
                </li>
            </ul>
        </div>

        <div>
            <div style="margin-right: 239px;">
                <ul>
                    <li>
                        <a href="#Privacy-policy">Політика приватності</a>
                    </li>
                    <li>
                        <a href="#Send-reviews">Надіслати відгук</a>
                    </li>
                    <li>
                        <a href="#Support">Служба підтримки</a>
                    </li>
                    <li>
                        <a href="#Cooperation">Співпраця</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>


    <script src="./js/volunteerpage.js"></script>
    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-white";
        }
    </script>
</body>

</html>