<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Philosopher:wght@700&family=Raleway:wght@400;500;600&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400&family=Scada:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="./js/mainJS.js" defer></script>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./adminpage.css">
    <title id="Main" role="main">@adminpage</title>
</head>

<body>
    <div class="wrapper" style="font-family: 'Raleway';">
        <header class="header">
            <div class="header-container">
                <span class="header-logo">Volunteer.ua</span>
                <nav class="header-menu menu">
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="" class="menu-link">Скарги</a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">Всі користувачі</a>
                        </li>
                    </ul>
                </nav>
                <div class="header-signup">
                    <button class="menu-button" role="button"><a href="#">Вихід</a></button>
                    <!--<button id="button-user"><img id="user-icon"src="./images/user_circle_icon.svg"></button>-->
                </div>
            </div>
        </header>


        <!-- Main -->
        <main class="page">
            <div >
                <div class="main-block-top">
                </div>

                <div class="wrpper-for-all">
                    <div class="all-data-about-admin">
                        <div class="container-for-pib-or-mail">
                            <p class="inscription-data">П.І.Б.:</p>
                            <p class="data-about-admin">1111111111111111111111</p>
                        </div>
                        <div class="container-for-pib-or-mail">
                            <p class="inscription-data">Пошта:</p>
                            <p class="data-about-admin">111111111111111111111</p>
                        </div>
                    </div>
                    <div id="wrapper-for-table">
                        <p class="inscription">Всі користувачі:</p>
                        <input type="text" id="type-search" placeholder="Пошук..">
                        <table>
                            <thead>
                                <tr>
                                    <th>П.І.Б.</th>
                                    <th>Пошта</th>
                                    <th>Посилання на соц.мережі</th>
                                    <th>Фото</th>
                                    <th>Підтвердження</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>111111111111111111111</span></td>
                                    <td><span>111</span></td>
                                    <td><span>111</span></td>
                                    <td><span>111</span></td>
                                    <td>
                                        <div id="div-for-button-yesno">
                                            <button id="button-confirmation-no"><p>Ban</p></button> 
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>111111111111111111111</span></td>
                                    <td><span>111</span></td>
                                    <td><span>111</span></td>
                                    <td><span>111</span></td>
                                    <td>
                                        <div id="div-for-button-yesno">
                                            <button id="button-confirmation-no"><p>Ban</p></button> 
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <button id="button-more">Більше></button>
                        </div>
                    </div>
                </div>
        </main>

    <!-- Footer -->
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-social-media">
                    <h5>Соціальні мережі: </h5>
                    <div class="footer-images">
                        <img class="image" src="./images/facebook_icon.svg">
                        <img class="image" src="./images/instagram-2016-5.svg">
                        <img class="image"src="./images/telegram-1.svg">
                    </div>
                </div>

                <nav class="footer-contacts">
                    <div>
                        <span>Телефон:</span>
                        <a href="tel: +380888888888" class="contacts-number">+380888888888</a>
                    </div>
                    <div>
                        <span>Email:</span>
                        <a href="mailto:volunteerua@gmail.com" class="mails">volunteerua@gmail.com</a>
                    </div>
                </nav>

                <div>
                    <nav class="footer-menu">
                        <a href="">Політика приватності</a>
                        <a href="">Надіслати відгук</a>
                        <a href="">Служба підтримки</a>
                        <a href="">Співпраця</a>
                    </nav>
                </div>
            </div>
        </footer>
    </div>
</body>

</html> 
