<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter&family=Philosopher:wght@700&family=Raleway:wght@400;500;600&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400&family=Scada:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/donationHistory.css">
    <title id="Main" role="main">History of donations</title>
</head>

<body>
    <div class="wrapper" style="font-family: 'Raleway';">
        <header class="header">
            <div class="header-container">
                <span class="header-logo">Volunteer.ua</span>
                <nav class="header-menu menu">
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="" class="menu-link">Головна</a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">Історія донатів</a>
                        </li>
                    </ul>
                </nav>
                <a href=""><img src="../static/images/Group 37.png" class="header-icon"></a>
            </div>
        </header>


        <!-- Main -->
        <main class="page">
            <div>
                <div class="main-block-top">
                </div>
                <div class="container-fluid">
                    <section class="section">
                        <div class="row pb-5 mb-4 pt-5 mt-4 ml-5 pl-4">
                            <div class="col-lg-3 col-md-6 mb-4 pr-5">
                                <a href="">
                                    <div class="card rounded">
                                        <div class="card-body p-6">
                                            <img src="" alt="" class="img-fluid d-block mx-auto mb-3">
                                            <div class="card-container">
                                                <p class="card-name"> щось</p>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar">
                                                        <!-- <span class="my-centered">60% Complete</span> -->
                                                    </div>
                                                </div>
                                                <button class="help">ДОПОМОГТИ</button>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>


                            <div class="col-lg-3 col-md-6 mb-4 pr-4">
                                <a href="">
                                    <div class="card rounded">
                                        <div class="card-body p-6">
                                            <img src="" alt="" class="img-fluid d-block mx-auto mb-3">
                                            <div class="card-container">
                                                <p class="card-name"> щось</p>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar">
                                                        <!-- <span class="my-centered">60% Complete</span> -->
                                                    </div>
                                                </div>
                                                <button class="help">ДОПОМОГТИ</button>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>


                            <div class="col-lg-3 col-md-6 mb-4 pr-4">
                                <a href="">
                                    <div class="card rounded">
                                        <div class="card-body p-6">
                                            <img src="" alt="" class="img-fluid d-block mx-auto mb-3">
                                            <div class="card-container">
                                                <p class="card-name"> щось</p>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar">
                                                        <!-- <span class="my-centered">60% Complete</span> -->
                                                    </div>
                                                </div>
                                                <button class="help">ДОПОМОГТИ</button>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>


                            <div class="col-lg-3 col-md-6 mb-4 pr-4">
                                <a href="">
                                    <div class="card rounded">
                                        <div class="card-body p-6">
                                            <img src="" alt="" class="img-fluid d-block mx-auto mb-3">
                                            <div class="card-container">
                                                <p class="card-name"> щось</p>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar">
                                                        <!-- <span class="my-centered">60% Complete</span> -->
                                                    </div>
                                                </div>
                                                <button class="help">ДОПОМОГТИ</button>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </section>

                </div>
        </main>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-social-media">
                    <h5>Соціальні мережі: </h5>
                    <div class="footer-images">
                        <img class="image" src="../static/images/facebook_icon.svg">
                        <img class="image" src="../static/images/instagram-icon.svg">
                        <img class="image" src="../static/images/telegram-icon.svg">
                    </div>
                </div>

                <nav class="footer-contacts">
                    <div>
                        <span>Телефон:</span>
                        <a href="tel: +380888888888" class="contacts-number">+380888888888</a>
                    </div>
                    <div>
                        <span>Email:</span>
                        <a href="mailto:volunteerua@gmail.com" class="mails">volunteerua@gmail.com</a>
                    </div>
                </nav>

                <div>
                    <nav class="footer-menu">
                        <a href="">Політика приватності</a>
                        <a href="">Надіслати відгук</a>
                        <a href="">Служба підтримки</a>
                        <a href="">Співпраця</a>
                    </nav>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>