<!DOCTYPE html>
<html lang="uk"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Inter&family=Philosopher:wght@700&family=Raleway:wght@400;500;600&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400&family=Scada:wght@700&display=swap}"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/fundraisingoverviewpage.css}">
    <title id="Main" role="main">Admin</title>
</head>
<body>
<div class="wrapper" style="font-family: 'Raleway';">
    <header class="header">
        <div class="header-container">
            <span class="header-logo">Volunteer.ua</span>
            <nav class="header-menu menu">
                <ul class="menu-list">
                    <li class="menu-item">
                        <a th:href="@{/admin}" class="menu-link">Головна</a>
                    </li>
                    <li class="menu-item">
                        <a th:href="@{/admin/users}" class="menu-link">Запити</a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link">Термінові збори</a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link">Звіти</a>
                    </li>
                </ul>
            </nav>
            <div class="header-signup">
                <button class="menu-button" role="button"><a href="#">Вихід</a></button>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main class="page">
        <div >
            <div class="main-block-top">
            </div>

            <div class="wrpper-for-all">
                <div class="wrapper-for-fund">
                    <div class="photo-and-little-description">
                        <div class="div-for-all-photo-in-fundraising">
                            <div class="div-photo-fundraising">
                                <img class="photo-fundraising" src="#" alt="photo fundraising">
                            </div>

                            <button>
                                <a href="#">
                                    <div class="div-photo-vol-in-fundraising" id="trigger">
                                        <img class="photo-vol-in-fundraising" id="trigger" src="#" alt="photo volonteer in fundraising">
                                    </div>
                                </a>
                            </button>

                            <div id="hidden">
                                <div class="hidden-div-photo-vol-in-fundraising">
                                    <div>
                                        <img class="hidden-photo-vol-in-fundraising" id="trigger" src="#" alt="photo volonteer in fundraising">
                                    </div>
                                    <div class="text-info-about-vol">
                                        <p class="text-info">Ім’я</p>
                                        <p class="text-info">прізвище</p>
                                        <p class="text-info">роль</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="inscription-and-data"><span class="inscription-in-fund">Назва збору: </span><span class="data-in-fund">з БД</span></p>
                            <p class="inscription-and-data"><span class="inscription-in-fund">Кому: </span><span class="data-in-fund">з БД</span></p>
                            <p class="inscription-and-data"><span class="inscription-in-fund">Тип збору: </span><span class="data-in-fund">з БД</span></p>
                            <p class="inscription-and-data"><span class="inscription-in-fund">Потрібна сума: </span><span class="data-in-fund">з БД</span></p>
                            <div class="progress">                                            <!--його ж немає на головній ???-->
                                <div class="progress-bar" role="progressbar">
                                    <!-- <span class="my-centered">60% Complete</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-for-description">
                        <p class="inscription-in-fund">Опис збору:</p>
                        <p class="description-in-fund">11111111111111111111 1111111111111111111111111 1111111111111111111111111 111111111111111111111 1111111111111111111</p>
                    </div>
                    <button class="button-for-donation">Задонатити</button>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-social-media">
                <h5>Соціальні мережі: </h5>
                <div class="footer-images">
                    <img class="image" th:src="@{/images/facebook_icon.svg}">
                    <img class="image" th:src="@{/images/instagram-2016-5.svg}">
                    <img class="image" th:src="@{/images/telegram-1.svg}">
                </div>
            </div>

            <nav class="footer-contacts">
                <div>
                    <span>Телефон:</span>
                    <a href="tel: +380888888888" class="contacts-number">+380888888888</a>
                </div>
                <div>
                    <span>Email:</span>
                    <a href="mailto:volunteerua@gmail.com" class="mails">volunteerua@gmail.com</a>
                </div>
            </nav>

            <div>
                <nav class="footer-menu">
                    <a href="">Політика приватності</a>
                    <a href="">Надіслати відгук</a>
                    <a href="">Служба підтримки</a>
                    <a href="">Співпраця</a>
                </nav>
            </div>
        </div>
    </footer>
</div>

<script th:src="@{/js/volunteerpage.js}"></script>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-white";
    }

    var trigger = document.getElementById('trigger');
    var hidden = document.getElementById('hidden');
    
    trigger.addEventListener('mouseover', function() {
        hidden.style.display = 'block';
    });
    
    hidden.addEventListener('mouseover', function() {
        hidden.style.display = 'block';
    });
    
    hidden.addEventListener('mouseout', function() {
        hidden.style.display = 'none';
    });

</script>
</body>
</html>