<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Philosopher:wght@700&family=Raleway:wght@400;500;600&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400&family=Scada:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="./js/mainJS.js" defer></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title id="Main" role="main">Main page</title>
</head>

<body>
    <div class="wrapper" style="font-family: 'Raleway';">
        <header class="header">
            <div class="header-container">
                <span class="header-logo">Volunteer.ua</span>
                <nav class="header-menu menu">
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="" class="menu-link">Головна</a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">Термінові збори</a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">Звіти</a>
                        </li>
                    </ul>
                </nav>
                <div class="header-signup">
                    <button class="menu-button" role="button"><a href="/enter">Вхід</a></button>
                    <button class="menu-button" role="button"><a href="/registration">Реєстрація</a></button>
                </div>
            </div>
            <span>
                <h2 class="header-banner-text">Долучайся до підтримки Збройних Сил України</h2>
            </span>
            <input type="text" class="type" placeholder="Пошук..">
        </header>


        <!-- Main -->
        <main class="page">
            <div >
                <div class="main-block-top">
                </div>
                <div class="main-block-categories-container">
                    <nav class="main-block-categories">
                        <a href="">УСІ ЗБОРИ</a>
                        <a href="">ЛІКИ</a>
                        <a href="">АВТО</a>
                        <a href="">ДРОНИ</a>
                        <a href="">АМУНІЦІЯ</a>
                        <a href="">ЗВ'ЯЗОК</a>
                        <a href="">ЖИВЛЕННЯ</a>
                        <a href="">ІНВЕНТАР</a>
                    </nav>
                </div>
                <div class="main-block-funds">
                    <div class="main-block-funds-container">
                        <div class="row-3 justify-content-between">
                            <div class="col-2">
                                <div class="card">
                                    <img class="card-img">
                                    <div class="card-container">
                                        <p class="card-name"> щось</p>
                                        <p clas="card-description">про щось </p>
                                        <progress id="file" value="" max="100" class="bar"> </progress>
                                        <button class="help">ДОПОМОГТИ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <i id="left" class="fa-solid fa-angle-left"></i>
                    <div class="carousel">
                      <img src="../static/images/img1.jpg" alt="img" draggable="false">
                      <img src="../static/images/img2.jpg" alt="img" draggable="false">
                      <img src="../static/images/img3.jpeg" alt="img" draggable="false">
                      <img src="../static/images/img4.jpg" alt="img" draggable="false">
                      <img src="../static/images/img5 .jpg" alt="img" draggable="false">
                      <img src="../static/images/img6.jpg" alt="img" draggable="false">
                      <img src="../static/images/img7.png" alt="img" draggable="false">
                      <img src="../static/images/img8.png" alt="img" draggable="false">
                      <img src="../static/images/img9.png" alt="img" draggable="false">
                      <img src="../static/images/img10.png" alt="img" draggable="false">
                      <img src="../static/images/img11.jpeg" alt="img" draggable="false">
                    </div>
                    <i id="right" class="fa-solid fa-angle-right"></i>
                  </div>
        </main>

    <!-- Footer -->
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-social-media">
                    <h5>Соціальні мережі: </h5>
                    <div class="footer-images">
                        <img class="image" src="../static/images/facebook_icon.svg">
                        <img class="image" src="../static/images/instagram-icon.svg">
                        <img class="image" src="../static/images/telegram-icon.svg">
                    </div>
                </div>

                <nav class="footer-contacts">
                    <div>
                        <span>Телефон:</span>
                        <a href="tel: +380888888888" class="contacts-number">+380888888888</a>
                    </div>
                    <div>
                        <span>Email:</span>
                        <a href="mailto:volunteerua@gmail.com" class="mails">volunteerua@gmail.com</a>
                    </div>
                </nav>

                <div>
                    <nav class="footer-menu">
                        <a href="">Політика приватності</a>
                        <a href="">Надіслати відгук</a>
                        <a href="">Служба підтримки</a>
                        <a href="">Співпраця</a>
                    </nav>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>