<!DOCTYPE html>
 <html lang="uk"
       xmlns:th="http://www.thymeleaf.org"
 >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>Login Page</title>
    <style>
        .login{
            width: 570px;
            margin-top: 150px;
        }
    </style>
</head>
<body>
    <div class="login">
        <p class="text-login">Вхід</p>
        <!--/*@thymesVar id="user" type="com.nameless.volunteerproject.models.User"*/-->
        <form method="post" role="form" th:object="${loginUser}" th:action="@{/login/in}">
            <div class="field-login" >
                <ul class="all-data">
                    <input class="Data" id="email" name="email" th:field="*{email}" type="text" placeholder="Пошта"><br>
                    <input class="Data" id="password" name="password" th:field="*{password}" type="password" placeholder="Пароль">
                </ul>
<!--                <div th:if="${param.error}"><p>Email or Password is invalid.</p></div><br />-->
                <ul class="countinue">

                    <div>
                        <a th:href="@{/oauth2/authorization/google}">
                            <button class="countinue-button">
                                <span class="countinue-p"><img class="svg" th:src="@{/images/google_icon.svg}" alt="google_icon">Продовжити з Google</span>
                            </button>
                        </a>
                    </div>

                    <div>
                        <a th:href="@{/oauth2/authorization/facebook}">
                            <button class="countinue-button">
                                <span class="countinue-p"><img class="svg" th:src="@{/images/facebook_icon.svg}" alt="facebook_icon">Продовжити з Facebook</span>
                            </button>
                        </a>
                    </div>

                    <div>
                        <a th:href="#">
                            <button class="countinue-button">
                                <span class="countinue-p"><img class="svg" th:src="@{/images/gmail_icon.svg}" alt="gmail_icon">Продовжити з e-mail</span>
                            </button>
                        </a>
                    </div>

                </ul>
            </div>
            <div>
                <button type="submit" class="end-login">Увійти</button>
            </div>
        </form>
        </div>
<!--        <script>-->
<!--            // Get HTML elements-->
<!--            const emailInput = document.querySelector('input[type="text"]');-->
<!--            const passwordInput = document.querySelector('input[type="password"]');-->
<!--            const loginButton = document.querySelector('.end-login');-->

<!--            // Add event listener to login button-->
<!--            loginButton.addEventListener('click', () => {-->
<!--                // Get user input-->
<!--                const email = emailInput.value;-->
<!--                const password = passwordInput.value;-->
<!--            });-->
<!--        </script>-->
    </body>
    </html>