<!DOCTYPE html>
<html lang="uk"
      xmlns:th="http://www.thymeleaf.org"
><head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<header>

</header>
<main>
  <!--/*@thymesVar id="militarysRequest" type="com.nameless.volunteerproject.models.FundraisingRequest"*/-->
  <form method="post" th:object="${militarysRequest}" enctype="multipart/form-data" th:action="@{/request/save}">
    <p>Створити запит:</p>
    <input id="requestName" th:field="*{name}" name="requestName"  type="text" placeholder="Назва збору"><br>
    <input name="whom" th:field="*{whom}" id="whom" type="text" placeholder="Кому:"><br>
    <span>Сіра зона:</span>
    <input name="greyZone" th:field="*{greyZone}" id="greyZone" type="checkbox" ><br>
    <textarea name="description" th:field="*{description}" id="description" placeholder="Опис збору:"></textarea>
    <button type="submit" class="end-registration">Створити запит</button>
  </form>
</main>
<footer>

</footer>
</body>
</html>
