<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&family=Philosopher:wght@700&family=Raleway:
    wght@400;500;600&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400&family=Scada:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="./css/my_requests.css"> -->
    <title id="My_requests">Мої запити</title>
</head>

<body>
    <header class="header-container">
        <img src="./images/зсу1 1.png" class="header-img">
        <h1 class="site-name ">Volunteer.ua</h1>
        <div class="rows top-page justify-content-between">
            <a href="#Main">Головна</a>
            <a href="#My_requests">Мої запити</a>
            <a href="#">Організувати запит/збір</a>
            <a href="#">Звіти</a>
            <a href="#">Волонтери</a>
        </div>
        <a href="#"><img src="./images/Group 37.png" class="icon"></a>
    </header>
    <main class="my-requests">
        <div>
            <p class="request">Мої запити:</p>
            <div class="row-3 justify-content-between">
                <div class="col-2">
                    <div class="card">
                        <div class="card-container">
                            <p class="card-date"> дата</p>
                            <p clas="card-description">про щось </p>
                            <a href="#"><button>Редагувати</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p class="request">Мої закінчені запити:</p>
            <div class="row-3 justify-content-between">
                <div class="col-2">
                    <div class="card" style="margin-top: 40px;padding-right: 23px;margin-left: 86px;">
                        <div>
                            <p class="card-date"> дата</p>
                            <p clas="card-description">про щось </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-container ">
            <div>
                <p>Соціальні мережі: </p>
                <div class="social-media">
                    <img src="./images/facebook-3-2.svg" class="img" width="25px" height="25px">
                    <img src="./images/instagram-2016-5.svg" class="img" width="25px" height="25px">
                    <img src="./images/telegram-1.svg" class="img" width="25px" height="25px">
                </div>
            </div>

            <ul>
                <li>
                    <span class="phone-word">Телефон:</span>
                    <a href="tel: +380888888888" class="contacts-number">+380888888888</a>
                </li>
                <li>
                    <span>Email:</span>
                    <a href="mailto:volunteerua@gmail.com">volunteerua@gmail.com</a>
                </li>
            </ul>

            <div>
                <ul>
                    <li><a href="#Privacy-policy">Політика приватності</a></li>
                    <li><a href="#Send-reviews">Надіслати відгук</a></li>
                    <li><a href="#Support">Служба підтримки</a></li>
                    <li><a href="#Cooperation">Співпраця</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>