<!DOCTYPE html>
<html lang="uk"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <title>Registration</title>
    <style>
        .Data{
            padding: 5px;
            padding-left: 12px;
        }
    </style>
</head>
<body>
    <div class="registration">
        <p class="text-reg">Реєстрація</p>
        <div class="field-registration" >
            <p class="you">Користувач</p>
            <!--/*@thymesVar id="user" type="com.nameless.volunteerproject.models.User"*/-->
            <form method="post" th:object="${user}" enctype="multipart/form-data" th:action="@{/register/save/user}">
                <div id="hidden" >
                    <ul class="all-data">
                        <li><ul class="row-data">
                            <li><input class="Data" id="Name" name="Name" th:field="*{name}" type="text" placeholder="Ім'я"></li>
                            <li><input class="Data" id="Surname" name="Surname" th:field="*{surname}" type="text" placeholder="Прізвище"></li>
                        </ul></li>
                        <li><input class="Data" id="email" name="email" th:field="*{email}" type="text" placeholder="Пошта"></li>
                        <li><input class="Data" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" type="text" placeholder="Номер телефону"></li>
                        <li><ul class="row-data">
                            <li><input class="Data" id="password" name="password" th:field="*{password}" type="password" placeholder="Пароль"></li>
                        </ul></li>
                    </ul>
                    <p class="agreement">Реєструючись, ви погоджуєтесь з:</p>
                    <a class="agreement">користувацькою угодою</a>
                    <button type="submit" class="end-registration">Зареєструватись</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>