<!DOCTYPE html>
<html lang="uk"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/response.css}">
    <title>Document</title>
</head>
<body>
    <div class="res">
        <p class="text-create-res">Надіслати відгук</p>
        <p class="text-your-score">Ваша оцінка</p>
        <!--/*@thymesVar id="user" type="com.nameless.volunteerproject.models.FeedbackTicket"*/-->
        <form method="post" th:object="${feedback}" enctype="multipart/form-data" th:action="@{/feedback/save}">
        <div class="all-data">
            <ul  id="rate" name="rate">
                <li><label><input th:field="*{rate}" type="radio" name="score" th:value="1">1</label></li>
                <li><label><input type="radio" th:field="*{rate}" name="score" th:value="2">2</label></li>
                <li><label><input type="radio" th:field="*{rate}" name="score" th:value="3">3</label></li>
                <li><label><input type="radio" th:field="*{rate}" name="score" th:value="4">4</label></li>
                <li><label><input type="radio" th:field="*{rate}" name="score" th:value="5">5</label></li>
            </ul>
            <p class="inscription-your-res-important">Ваш відгук важливий для нас!</p>
            <textarea th:field="*{description}" id="description" class="res-textarea textarea" placeholder="Напишіть нам"></textarea>
            <p class="inscription-thank-you">Дякуємо за відгук!</p>
        </div>
        <button type="submit" class="button-send">Надіслати</button>
        </form>
    </div>
    <script th:src="@{/js/textareafix.js}"></script>
</body>
</html>