<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/support.css">
    <title>Document</title>
</head>
<body>
    <div class="prob">
        <p class="text-create-res">Виникла проблема?</p>
        
        <div class="all-characteristics-of-the-problem" >
            <select class="select-problem">
                <option disabled selected>Тип проблеми</option>
                <option value="">1111111</option>
                <option value="">1111111</option>
                <option value="">1111111</option>
                <option value="">1111111</option>
                <option value="">1111111</option>
            </select>
            <select class="select-problem">
                <option disabled selected>Підтип проблеми</option>
                <option value="">1111111</option>
                <option value="">1111111</option>
                <option value="">1111111</option>
                <option value="">1111111</option>
                <option value="">1111111</option>
            </select>
            <textarea class="sup-textarea textarea" placeholder="Опис проблеми"></textarea>
        </div>
        <button class="button-send">Відправити</button>
    </div>
    <script src="./js/textareafix.js"></script>
    
</body>
</html>